sudo: false
language: ruby
cache: bundler
rvm:
- 2.4.2

install:
  # Install Jekyll and dependencies
  - bundle install

script: bundle exec rake site:deploy --quiet #--trace

# Add Environment Variables into Travis CI dashboard
# Include:
#   GIT_NAME: username of github
#   GIT_EMAIL: email address of github username
#   GH_TOKEN: github personal access token

